<h1>This is the first app on sqlite3 - yeah CatFriends#index</h1>
<p>Find me in app/views/cat_friends/index.html.erb</p>
<h2> This is where you need to define the names </h2>

<p> <% @cats.each do |cat| %>
    Meow, Hello my name is <%= cat.name %> and I am <%= cat.age %> years old, HOLA <br/>
    <% end %>



<p>
